<div class="title-container">
  <h1 class="title">User</h1>
</div>



<% @users.each do |user| %>
  <%= link_to "./detail?name=#{user[:name]}&age=#{user[:age]}", class: "user-container-link" do %>
    <div class="user-container">
      <p>名前: <span class="bold"><%= user[:name] %></span></p>
      <p>年齢: <span class="bold"><%= user[:age] %></span></p>
    </div>
  <% end %>
<% end %>

<p><%= link_to "topに戻る", "/" %></p>

<p>それとも、<%= link_to "Google", "https://www.google.com/"%>を見る？<%= link_to "Yahoo", "https://www.yahoo.co.jp/"%>を見る?</p>