<!DOCTYPE html>
<html>
  <head>
    <title>Homework4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <h1 class="header-title">Homework4</h1>
        <span class="header-nav">
          <%= link_to "Top", "/" %>
          <%= link_to "User", "./index" %>
          <%= link_to "User Detail", "./detail" %>
        </span>
    </header>
    <%= yield %>
  </body>
</html>
